body{
    background-image: url("coventry.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 1024px 768px;
    background-position: center;
}

#nav {
    margin: 0;
    padding 8px 15px;
    list-style-type: none;
    text-align: center;
}


table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
    opacity: 0.8;
}

td {
    height: 50px;
    vertical-align: bottom;
}

table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:white;
}
table#t01 th	{
    background-color: #20D4EC;
    color: black;
}

h2 {
    color: black;
}

p {
    color:black;
}


#nav li a {
    text-decoration: none;
    color: black;
    background: #20D4EC;
    margin: 1em 1em;
    padding: 1em 3em;
    text-decoration-color: black;
    
    
}   

#nav li {
    display: inline;
    width: 5em;
    opacity: 0.8;
}

#t01 td {
    height: 1.6em;
}

a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: black;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: yellow;
}

